.input-group {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: -0.31em;
}
.input-group > * {
  letter-spacing: normal;
}
.input-group > input,
.input-group > select,
.input-group > button,
.input-group > .input-group-addon,
.input-group-vertical > input,
.input-group-vertical > select,
.input-group-vertical > button,
.input-group-vertical > .input-group,
.input-group-vertical > .input-group-addon,
.input-group > .btn,
.input-group-vertical > .btn {
  position: relative;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-group > input:focus,
.input-group > select:focus,
.input-group > button:focus,
.input-group > .input-group-addon:focus,
.input-group-vertical > input:focus,
.input-group-vertical > select:focus,
.input-group-vertical > button:focus,
.input-group-vertical > .input-group:focus,
.input-group-vertical > .input-group-addon:focus,
.input-group > .btn:focus,
.input-group-vertical > .btn:focus {
  z-index: 2;
}
.input-group > input,
.input-group > select,
.input-group > button,
.input-group > .input-group-addon,
.input-group > .btn {
  display: inline-block;
  width: auto;
  margin: 0 0 0 -1px;
}
.input-group > input:first-child,
.input-group > select:first-child,
.input-group > button:first-child,
.input-group > .input-group-addon:first-child,
.input-group > .btn:first-child {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > input:last-child,
.input-group > select:last-child,
.input-group > button:last-child,
.input-group > .input-group-addon:last-child,
.input-group > .btn:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > input:not(:first-child):not(:last-child),
.input-group > select:not(:first-child):not(:last-child),
.input-group > button:not(:first-child):not(:last-child),
.input-group > .input-group-addon:not(:first-child):not(:last-child),
.input-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-vertical > input,
.input-group-vertical > select,
.input-group-vertical > button,
.input-group-vertical > .input-group,
.input-group-vertical > .input-group-addon,
.input-group-vertical > .btn {
  display: block;
  width: 100%;
  margin: -1px 0 0;
}
.input-group-vertical > input:first-child,
.input-group-vertical > select:first-child,
.input-group-vertical > button:first-child,
.input-group-vertical > .input-group:first-child,
.input-group-vertical > .input-group-addon:first-child,
.input-group-vertical > .btn:first-child {
  margin-top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-vertical > input:last-child,
.input-group-vertical > select:last-child,
.input-group-vertical > button:last-child,
.input-group-vertical > .input-group:last-child,
.input-group-vertical > .input-group-addon:last-child,
.input-group-vertical > .btn:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-group-vertical > input:not(:first-child):not(:last-child),
.input-group-vertical > select:not(:first-child):not(:last-child),
.input-group-vertical > button:not(:first-child):not(:last-child),
.input-group-vertical > .input-group:not(:first-child):not(:last-child),
.input-group-vertical > .input-group-addon:not(:first-child):not(:last-child),
.input-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-vertical > .input-group:first-child > input,
.input-group-vertical > .input-group:first-child > select,
.input-group-vertical > .input-group:first-child > button,
.input-group-vertical > .input-group:first-child > .input-group-addon,
.input-group-vertical > .input-group:first-child > .btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-vertical > .input-group:last-child > input,
.input-group-vertical > .input-group:last-child > select,
.input-group-vertical > .input-group:last-child > button,
.input-group-vertical > .input-group:last-child > .input-group-addon,
.input-group-vertical > .input-group:last-child > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon {
  padding: 0.25em 0.45em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #b1b1b1;
  background: #eee;
  border-radius: 3px;
}
.input-group-addon > input[type="radio"],
.input-group-addon > input[type="checkbox"] {
  vertical-align: top;
}
