base-line-height   ?= 1.5
base-border-radius ?= 3px

input-group-selectors           ?= (".btn")
input-group-addon-border        ?= #bdc3c7
input-group-addon-background    ?= #ecf0f1
input-group-addon-border-radius ?= base-border-radius
