base-line-height   ?= 1.5
base-border-radius ?= 3px

input-group-selectors           ?= (".btn")
input-group-addon-border        ?= #b1b1b1
input-group-addon-background    ?= #eee
input-group-addon-border-radius ?= base-border-radius
